/* ------------------------------
 リセット
------------------------------ */
@charset "utf-8";

html {
    font-size: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    z-index: 1;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* ------------------------------
 カラーのCSS変数
------------------------------ */
:root {
    --background-color: #fef9f4;
    --text-color: #333;
    --primary-color: #d97742;
    --primary-hover-color: #b95f33;
    --border-color: #d9b9a8;
    --card-border-color: #e0d4c8;
    --card-title-color: #d97742;
    --button-text-color: #fff;
    --button-background-color: #d97742;
    --button-hover-background-color: #b95f33;
    --logo-color: #333;
    --header-text-color: #666;
}

/* ------------------------------
 全体レイアウト
------------------------------ */
.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 1.25rem;
    font-weight: normal;
    color: var(--primary-color);
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 15px;
}

.button {
    width: 200px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* ------------------------------
 TOPページ
------------------------------ */
.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.logo-img {
    max-width: 100%;
    height: auto;
    width: 200px;
    margin-bottom: 20px;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

/* ------------------------------
 フォーム
------------------------------ */
form {
    text-align: left;
    margin: 20px auto;
    max-width: 500px;
}

.form-description {
    max-width: 500px;
    margin: 0 auto;
    font-size: 0.925rem;
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--header-text-color);
    line-height: 1.8;
    text-align: left;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    resize: none;
}

.submit-post {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.submit-post:hover {
    background-color: var(--primary-hover-color);
}

.confirm-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.confirm-buttons .btn-back,
.confirm-buttons .btn-submit {
    width: 100px;
    /* ボタンの横幅を統一 */
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.confirm-buttons .btn-submit {
    background-color: var(--primary-color);
    color: var(--button-text-color);
}

.confirm-buttons .btn-submit:hover {
    background-color: var(--primary-hover-color);
}

.confirm-buttons .btn-back {
    background-color: #ffffff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.confirm-buttons .btn-back:hover {
    background-color: #f2f2f2;
    color: var(--primary-color);
}

/* ------------------------------
 送信完了ページ
------------------------------ */
.view-answers {
    color: var(--text-color);
    text-decoration: none;
}

.view-answers:hover {
    color: var(--primary-color);
}

/* ------------------------------
 回答表示レイアウト
------------------------------ */
.filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.filter-form input[type="text"],
.filter-form select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    flex-grow: 1;
}

.filter-form button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-form button:hover {
    background-color: var(--primary-hover-color);
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.card h3 {
    margin-top: 0;
    font-size: 1rem;
    color: var(--card-title-color);
}

.card p {
    font-size: 0.825rem;
}

/* ------------------------------
 ヘッダー
------------------------------ */
header {
    padding: 20px 0;
    border-bottom: 0.5px solid var(--primary-color);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header-left, .header-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.825rem;
    color: var(--primary-color);
    line-height: 1rem;
}

.header-left {
    left: 20px;
    text-align: left;
    color: var(--primary-color);
    line-height: 1rem;
}

.header-right {
    right: 20px;
    text-align: right;
    color: var(--primary-color);
    line-height: 1rem;
}

.header-text {
    font-size: 0.65rem;
    color: var(--main-color);
}

.header-logo-wrap {
    text-align: center;
}

.header_logo-img {
    max-width: 100%;
    height: auto;
    width: 150px;
}
